* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  color: #444;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  overflow-x: hidden;
}
.cv {
  color: #333;
  max-width: 100vw;
  padding: 1rem 1.6rem;
  background-color: #f5f5f5;
  border: solid #666;
  border-width: 8px 0 2px 0;
}
.title-wrap {
  margin-bottom: 1rem;
}
.title {
  font-style: italic;
  text-align: start;
  font-weight: 600;
}
.header {
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
  text-align: left;
}
.contact-info {
  color: #2bc48a;
  font-size: 1.2rem;
}
.title-bold {
  font-weight: 600;
}

.heading-primary {
  font-size: 2.4rem;
}
.heading-secondary {
  letter-spacing: 2px;
  font-size: 1.2rem;
}

.summary-text {
  max-width: 100%;
}
.summary-text p {
  text-align: justify;
}
section {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 1.6rem;
}

.job,
.education {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  text-align: start;
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
}

.job-list,
.education-list,
.project-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.project-list {
  text-align: start;
  list-style-type: circle;
}
.project-list li {
  border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  margin-bottom: 1rem;
}
.project-list li a {
  text-decoration: none;
  color: #2bc48a;
  font-size: 1.3rem;
}
.last {
  border: none;
}

.skills-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/*  footer  */
footer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem 9rem;
  gap: 2rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}
/* more than 768PX (for desktop )*/
@media (min-width: 48em) {
  .cv {
    padding: 4rem 4rem;
  }
  .header {
    flex-direction: row;
  }
  .title-wrap {
    width: 10rem;
    margin-right: 4rem;
  }
  .heading-primary {
    font-size: 2.4rem;
  }
  .heading-secondary {
    letter-spacing: 2px;
    font-size: 1.5rem;
  }

  section {
    flex-direction: row;
    padding: 2rem 0;
  }
  footer {
    gap: 5rem;
    padding: 2rem 9rem;
  }
}
/* more than 1440PX (for desktop )*/
@media (min-width: 90em) {
  .cv {
    max-width: 80rem;
    padding: 1rem 9rem;
    font-size: 1.5rem;
  }
  .title-wrap {
    width: 10rem;
    margin-right: 4rem;
  }

  .header {
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    text-align: left;
  }

  .heading-secondary {
    font-size: 1.5rem;
  }
  .heading-primary {
    font-size: 2.4rem;
  }
  section {
    flex-direction: row;
    padding: 2rem 0;
  }

  .job,
  .education {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    text-align: start;
  }

  .job-list,
  .education-list,
  .project-list {
    flex-direction: column;
  }

  .project-list li a {
    font-size: 1.3rem;
  }

  /*  footer  */
  footer {
    gap: 10rem;
  }
}
